.ubuntu {
	font-family: "Ubuntu Mono", monospace;
}

.montse {
	font-family: "Montserrat", sans-serif;
}

.poppins {
	font-family: "Poppins", sans-serif;
}

/*-------------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3.titlenav {
	position: fixed;
	width: 114px;
	height: 20px;
	left: 46px;
	top: 38px;

	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: bolder;
	font-size: 13px;
	line-height: 19px;
	color: #090f31;
}

h3.titlenav span {
	color: #f7542e;
}

.container-nav {
	width: 237px;
	min-height: 100vh;
	background: #fafbfd;
	position: relative;
}

.column-nav {
	position: fixed;
	width: 132px;
	height: 20px;
	left: 46px;
	top: 137px;
}

.nav-bar {
	padding-left: 10px;
}

.navbar-nav {
	width: 100%;
}

.nav-link {
	font-family: "Noto Sans JP", sans-serif;
	color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover {
	color: black;
}

.nav-link:focus {
	font-weight: bolder;
	color: #090f31;
}

.content{
	width: 70px;
	background: rgba(0, 0, 0, 0.5);
	height: 2px;
	margin-top: 10px; 
}
