p {
	font-family: "Ubuntu Mono", monospace;
}

.montse {
	font-family: "Montserrat", sans-serif;
}

.poppins {
	font-family: "Poppins", sans-serif;
}

.notoSans {
	font-family: "Noto Sans JP", sans-serif;
}

.container-app {
	display: flex;
	width: 100%;
}

.container-80 {
	width: 80%;
	position: relative;
	float: right;
	padding: 10px;
	padding: 20px;
}

button {
	font-family: "Noto Sans JP", sans-serif;
}

button.btn-default {
	background: #e0e0e0;
	box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
	border-radius: 6px;
}

button.btn-default:hover {
	background: #aeaeae;
	box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
	border-radius: 6px;
}

button.btn-out-blue {
	border: 1px solid #3d5afe;
	border-radius: 6px;
	color: #3d5afe;
}

button.btn-out-blue:hover {
	background: rgba(41, 98, 255, 0.1);
	border-radius: 6px;
	color: #3d5afe;
}

button.btn-text {
	background: none;
	color: #3d5afe;
}

button.btn-text:hover {
	background: rgba(41, 98, 255, 0.1);
}

.create {
	color: #9e9e9e;
	font-weight: 500;
}

.create span {
	font-weight: 700;
}

.divTextArea {
	position: relative;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

textarea.textArea {
	position: relative;
	justify-content: center;
	max-width: 80%;
}

.column {
	min-height: 265px;
}

.container-home {
	margin-top: 20px;
	margin-left: 90px;
	display: flex;
}

.container-home ul {
	list-style: none;
}

.container-home ul li {
	display: inline;
	margin: auto 20px;
}

.container-home ul li a {
	font-size: 50px;
	color: #9e9e9e;
	transition: all ease 0.2s;
}

.container-home ul li a:hover {
	color: #090f31;
}

div.navbar-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar-nav.todo{
	flex-direction: row;
}

div.container-input {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.div-list {
	margin: 25px auto;
	width: 600px;
}

span.tareaText {
	font-size: 16px;
	font-weight: bold;
}

span.tareaText.checked {
	text-decoration: line-through;
}

form.formulario-tareas {
	width: 55%;
	min-width: 400px;
}

div.botonBorrarTodas {
	position: relative;
	display: flex;
	justify-content: right;
}

button.borrarTodas {
	width: 135px;
}

button.btn-random {
	float: right;
}

div.container-quote {
	display: flex;
	justify-content: center;
}

div.container-textQuote {
	position: absolute;
	width: 614px;
	height: 301px;
	top: 100px;
}

div.border-text {
	border-left: 8px solid #f7df94;
	padding-left: 99px;
}

.quoteText {
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
	color: #000000;
}

button.author {
	display: flex;
	width: 600px;
	text-align: left;
	justify-content: space-between;
	align-items: center;
}

button.author:hover {
	color: #f2f2f2;
}

p.quoteAuthor {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

p.quoteGenre {
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

h2.authorTitle {
	margin: 50px auto;

	text-align: center;
	width: 700px;
	height: 42px;

	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;

	color: #333333;
}

.arrowAuthor {
	color: white;
}

li.list-group-item.quote {
	border: none;
}

.oneAuthor-list {
	margin: 30px auto;
}

/*------------------------------------COUNTRY-QUIZ------------------------------------------*/

.quiz-bg {
	background-image: url("../components/CountryQuiz/img/background.png");
	background-size: cover;
	width: 100%;
	height: 120vh;
}

.quizCard {
	position: absolute;
	width: 464px;
	top: 75px;
	left: 23%;
	background: #ffffff;
	border-radius: 24px;
}

p.question {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #2f527b;
	margin: 3px 32px;
	width: 85%;
}

img.flag-img{
	width: 84px;
	height: 54px;
	margin-left: 32px;
	border: .5px solid rgba(96, 102, 208, 0.8);
}

.imgQuestCard {
	width: 162px;
	bottom: 18px;
	position: relative;
}

div.encabezado {
	position: relative;
	display: flex;
	justify-content: space-between;
	bottom: 53px;
}

.btn-choise {
	background: #ffffff;
	border: 2px solid rgba(96, 102, 208, 0.7);
	box-sizing: border-box;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin: 12px 32px;
	color: rgba(96, 102, 208, 0.8);
}

button.disabled{
	pointer-events: none;
	cursor: default;
}

.btn-choise.correct {
	background: #60bf88;
	color: white;
}

.btn-choise.incorrect {
	background: #ea8282;
	color: white;
}

.btn-choise.correct:hover {
	background: #60bf88;
	color: white;
}

.btn-choise.incorrect:hover {
	background: #ea8282;
	color: white;
}

.btn-choise:hover {
	background: #f9a826;
	color: white;
}

.quiz-Letter {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	margin: 5px 20px;
}

.country-name {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	margin: 11px 20px;
}

div.icons{
	position: relative;
	font-size: 24px;
	color: white;
}

.icon-cross{
	position: absolute;
	top: 12px;
	right: 12px;
	opacity: 0;
}

.icon-check{
	position: absolute;
	top: 12px;
	right: 12px;
	opacity: 0;
}

.icon-check.true{
	opacity: 1;
}

li.list-group-item.quiz {
	border: none;
	margin: 0;
	padding: 0;
}

h2.quiz-title {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	text-transform: uppercase;
	color: #f2f2f2;
}

.count-score{
	margin-left: 35px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #1d355d;
}

button.nextQuiz {
	background: #F9A826;
box-shadow: 0px 2px 4px rgba(252, 168, 47, 0.4);
border-radius: 12px;
float: right;
margin-right: 35px;
margin-bottom: 20px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
opacity: 0;
}

button.nextQuiz.active{
	opacity: 1;
}

.active {
	opacity: 1;
}

.imgWinners {
	margin: auto;
	display: flex;
	justify-content: center;
}

.quizResults {
	margin: 19px auto;
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	color: #1d355d;
}

.score {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	color: #60bf88;
}

.answersCorrect {
	text-align: center;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #1d355d;
}

.group-btn-try{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.btn-tryAgain {
	margin-top: 30px;
	padding: 17px 61px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #1d355d;
	border: 2px solid #1d355d;
	box-sizing: border-box;
	border-radius: 12px;
}


button.btn-menu{
	display: none;
}

/*-------------------------------MEDIAQUERY-------------------------------------*/


@media(max-width: 767px){
	.container-80.quiz-bg{
		width: 100%;
		padding: 0;	
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.container-menu{
		width: 100%
	}

	button.btn-menu{
		display: block;
		background: transparent;
		border: none;
		position: relative;
		margin-left: 15px;
		
	}

	.hamb{
		position: absolute;
		top: 10px;
		display: block;
		background: transparent;
		color: #60bf88;
		font-size: 50px;
	}

	.hamb.show{
		visibility: hidden;
	}

	.close-circle{
		position: absolute;
		top: 10px;
		display: block;
		background: transparent;
		color: rgba(0, 0, 0, 0.5);
		font-size: 30px;
		visibility: hidden;
		z-index: 20;
	}

	.close-circle.show{
		visibility: visible;
	}

	.quizCard{
		left: auto;
		top: 12%;
		width: 90%;
	}

	ul.list-group{
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	button.btn-choise{
		width: 80%;
	}
}